.App {
  text-align: center;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: aqua;
  height: 700px;
}

.forma{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  background-color: blue;
  width: 700px;
  height: 500px;
  border-radius: 5%;
}